.Banner > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: -200px;
  top: 250px;
  gap: 10px;
}

.Banner h1:first-child {
  font-size: 40px;
  font-weight: bold;
}

.Banner p:nth-child(2) {
  font-size: 20px;
}

.Banner img {
  width: 100%;
}

.Banner button {
  font-weight: bold;
  padding: 15px 40px;
  margin-top: 10px;
  background-color: #3c3c3b;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}
