.App {
  text-align: center;
}

p {
  margin: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.active {
  color: #0fb3af;
}

header {
  position: sticky;
  top: 0;
  z-index: 1;
}

h1 {
  font-size: 40px;
  font-weight: bold;
}

h2 {
  margin: 0;
  font-size: 30px;
  color: #0fb3af;
  padding-bottom: 20px;
}

span {
  color: #0fb3af;
}

h3 {
  margin: 0;
  font-size: 20px;
  font-weight: 400;
  color: #0fb3af;
}

h4 {
  margin: 0;
  font-size: 18px;
  padding-bottom: 20px;
}

.icon {
  height: 20px;
}

.property-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 50px;
  grid-row-gap: 70px;
  margin: 0 150px;
  margin-top: 50px;
  text-align: left;
}

.property-container img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.property-container > div {
  border-radius: 10px;
  box-shadow: 0px 0px 30px rgb(189, 189, 189);
}

.property-info {
  padding: 10px;
  padding-bottom: 30px;
  padding-right: 30px;
}

.property-info > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rating > div {
  display: flex;
  align-items: center;
  gap: 20px;
}

.property-info p {
  color: gray;
}

.property-info h2 {
  padding-bottom: 0;
}

.bi-star-fill,
.bi-star-half,
.bi-star {
  color: #0fb3af;
}

.bi-arrow-right-circle-fill {
  font-size: 40px;
  cursor: pointer;
  color: #3c3c3b;
}

button {
  font-weight: bold;
  margin-top: 30px;
  padding: 15px 40px;
  background-color: #3c3c3b;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.user-photo {
  width: 50px;
  height: 50px;
}

input {
  height: 22px;
  padding: 10px;
  border-radius: 0;
  border-right: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

input:focus {
  outline: none;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.button-container > button {
  border-radius: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  margin: 0;
}

.logo {
  width: 150px;
  height: 60px;
}

.bi-caret-down-fill {
  font-size: 39.5px;
}

a {
  text-decoration: none;
}

.input-container input {
  width: 400px;
  border: solid 1px #3c3c3b;
  border-radius: 10px;
  border-left: solid 5px #3c3c3b;
  box-shadow: 0px 0px 10px rgb(189, 189, 189);
}

.input-container input {
  padding-left: 50px;
  margin-right: 30px;
}

.input-container i {
  font-size: 25px;
  position: relative;
  left: 45px;
}

.input-container {
  display: flex;
  align-items: center;
}

.bi-key {
  transform: rotate(30deg);
}

input[type="checkbox"] {
  cursor: pointer;
  width: 20px;
}

input:after {
  background-color: #3c3c3b;
}

.checkbox-container {
  display: flex;
  gap: 130px;
}

.checkbox-container div {
  display: flex;
  gap: 15px;
}

.checkbox-container > p:hover {
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
