.App {
  text-align: center;
}

p {
  margin: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.active {
  color: #0fb3af;
}

header {
  position: sticky;
  top: 0;
  z-index: 1;
}

h2 {
  margin: 0;
  font-size: 30px;
  color: #0fb3af;
}

h3 {
  margin: 0;
  font-size: 20px;
  font-weight: 400;
  color: #0fb3af;
}

.icon {
  height: 20px;
}
